:root {
    --border-color-light: #f4f5f7;
    --border-color-dark: #4b5563;
    --border-color: var(--border-color-light);
}

.article-detail {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    padding: 10px 20px;

}

.article-info {
    font-size: 14px;
}

.article-title {
    color: var(--article-title-color);
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}

.article-date {
    margin-right: 2em;
}

.article-header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--border-color);
}