.article-label {
    display: inline-block;
    background: var(--global-theme-color);
    color: #fff;
    border-radius: 0.625em;
    padding: 0 1em;
    cursor: pointer;
}

.article-label :hover{
    background: var(--global-theme-color);
    opacity: 0.5;
}