.header-fixed {
    display: flex;
    height: 98px;
    width: 100%;
    background: var(--header-background-color);
    box-shadow: 0 0 10px rgba(14, 14, 14, .26);
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 80px;
    padding: 0 24px;
}

.header-process {
    position: absolute;
    top: 0;
    background: var(--global-theme-color);
    height: 3px;
}

.logo-btn {
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.logo-avator {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.route-btn-area {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.route-btn-area .header-search {
    height: 30px;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 2em;
    border: 2px solid var(--global-theme-color);
    padding: 0 10px;
}

.route-btn-area .search-icon {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.route-btn-area .header-search:focus {
    outline: none;
}

.header-fixed a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: var(--font-color);
}

.header-fixed a:hover {
    color: var(--font-color-hover);
}

.route-btn-area > a {
    font-size: 18px;
    margin-right: 40px;
    padding: 0.5em 0;
    border-bottom: 2px solid transparent;
}

.route-btn-area > a:hover {
    border-bottom: 2px solid var(--global-theme-color);
}

.header-fixed .header-container .theme-toggle {
    height: 30px;
    width: 30px;
    cursor: pointer;
}
