.app {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app header {
  width: 100%;
  position: fixed;
  z-index: 999;
}

.app main {
  flex: 1;
  margin: 98px 208px 0 208px;
  padding: 60px 32px 0 32px;
}

.app footer {
  width: 100%;
  text-align: center;
}