.article-item {
    position: relative;
    height: 200px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .15);
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 0.25rem;
    background: var(--article-background-color);
    cursor: pointer;
}

.article-item .article-item-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--article-title-color);
}

.article-item .article-item-desc {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--font-color-light);
}

.article-item .article-item-desc .article-item-labels {
    margin-left: auto;
    z-index: 99;
}

.article-item-labels .article-item-label {
    margin-left: 0.75em;
}

.article-item .article-item-desc .article-item-desc-icon{
    margin-right: 10px;
}

.article-item .article-item-content {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    color: var(--font-color);
    max-height: 110px;
    overflow: hidden;
}

.article-item .article-item-footer {
    position: absolute;
    right: 16px;
    bottom: 10px;
    font-size: 14px;
    text-align: right;
    color: var(--font-color);
}

.article-item:hover .article-item-title {
    color: var(--global-theme-color);
}

.article-item:hover .article-item-footer {
    color: var(--global-theme-color);
}