.article-item {
    position: relative;
    height: 200px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .15);
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 0.25rem;
    background: var(--article-background-color);
    cursor: pointer;
}

.article-item .article-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--article-title-color);
}

.article-item .article-desc {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--font-color-light);
}

.article-item .article-desc .article-desc-icon{
    margin-right: 10px;
}

.article-item .article-content {
    margin-bottom: 10px;
    color: var(--font-color);
}

.article-item .article-footer {
    position: absolute;
    right: 16px;
    bottom: 10px;
    font-size: 14px;
    text-align: right;
    color: var(--font-color);
}

.article-item:hover {
    color: var(--global-theme-color);
}

.article-footer:hover {
    color: var(--global-theme-color);
}
